 @media	(min-width: 535px) and (max-width: 824px) {
 	[class*="col-"] {
 		width: 100%
 	}
 	.container {
 		background-image: url(../images/dawn.png);
 		background-position: center;
 		max-height: 100%
 	}
 	.gato1 {
 		content: url(../images/kitten-large.png);
 		max-width: 50%;
 	}
 }
 @media (min-width: 200px) and (max-width: 534px) {
 	[class*="col-"] {
 		width: 100%
 	}
 	.container {
 		background-image: url(../images/night.jpg);
 		background-position: center;
 		max-height: 100%
 	}
 	.gato1 {
 		content: url(../images/kitten-small.png);
 		max-width: 50%;
 }